
.App {
 
}
.navBar{
  background-color: beige;
  height: 2.5rem;
  padding-right: 1rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap:1rem;

}
.navBar button{
  border: none;
  cursor: pointer;
}

.search{
  position: relative;
  margin-left: 1rem;
  margin-right: 1rem;
  
  height: 90vh;
  
  margin-top: 2rem
}

.results{
  
  
  margin-top: 1rem;
  display: grid;  
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  column-gap: 0.75rem;
  row-gap: 0.75rem;
}

.countryCard{
  border: 1px solid black;
  display: flex;
  padding: 2rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.controls{
  margin-top: 1rem;
  display:flex;
  gap: 0.5rem;
  justify-content: center;
}
.pagination{
  cursor: pointer;
  border: 1px solid black;
  border-radius: 5px;
  padding: 0.25rem;
}
.countryDetails{
  padding: 2rem;
}
.activities{
  display:flex;
  align-items: center;
  justify-content: center;
}
.activityCard{
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  border-radius: 5px;
}
.activityCard p {
  font-size: smaller;
  line-height: 0.4rem;
}