body {
  background-color: #335D7D;
}
.App{  
  position: relative;
}
.navBar{
  padding-right: 1rem;
  padding-left: 1rem;
  background-color: #1E4868;
  height: 3rem;
  padding-right: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;  
}

.navBar button{
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-right: 1rem;
  padding-left: 1rem;
  background-color: #02192B;
  color:aliceblue;
  border: none;
  cursor: pointer;
 
}
.logo {
  justify-self:flex-start;
  background-image: url('./world.png');
  background-size: cover;  
  height: 1.5rem;
  width: 1.5rem
}

.myButton{
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  margin-right: 0.25rem;
  margin-left: 0.25rem;
  background-color: #02192B;
  color:#f0f8ff;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.myInput{
  margin-right: 0.25rem;
  margin-left: 0.25rem;
  background-color: #02192B;
  border-radius: 5px;
  color:aliceblue;
  border: none;
  height: 2rem;
  text-align: center;
  font-size: large;

}


button:hover{
  box-shadow: 4px 2px 10px 1px #f0f8ff;
}

