body {
  background-color: #335D7D;
}
.App{
  height: 100vh;
}
.navBar{
  background-color: #1E4868;
  height: 3rem;
  padding-right: 1rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap:1rem;

}
.navBar button{
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-right: 1rem;
  padding-left: 1rem;
  background-color: #02192B;
  color:aliceblue;
  border: none;
  cursor: pointer;
}

.create{
  margin-top: 1rem;
  padding: 1rem;
  display: flex;  
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.createControls{
  background-color: #1E4868;
  padding: 1rem;
  margin-bottom: 1rem;
  color: #C0DAEE;
}


.emptyList{  
  display: flex;  
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.search{
  position: relative;
  margin-left: 1rem;
  margin-right: 1rem;
  
  height: 90vh;
  
  margin-top: 1rem
}
.filters {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.search * {
  margin-bottom: 0.25rem;
}

.results{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;  
  margin-top: 1rem;
  
}
.countryGroup{
  background-color: #1E4868;
  color:#C0DAEE;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.countryGroup h3 {
  color:aliceblue;
}
.countryGroup label:hover {
  color:aliceblue;
}
.countryList{  
  display: grid;
  grid-template-columns: repeat(4, 2fr);
  column-gap: 0.5rem;
}
.countryCheckbox{
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
  
}
.countryListItem{  
  flex: 0 0 calc(25% - 20px);
  background-color: #7095B2;
  padding: 20px;
  margin: 10px;
  text-decoration: none;
}
.countryListItem:hover{
  background-color: #1E4868;
  color:#C0DAEE;
}
.countryName{
  font-size: smaller;

}

.countryCard{  
  
  display: flex;
  padding: 1em;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #02192B;
}
.countryCard:hover{
  color: #C0DAEE;
}
.controls{
  margin-top: 1rem;
  display:flex;
  gap: 0.5rem;
  justify-content: center;
}
.pagination{
  cursor: pointer;
  padding: 0.25rem;
  background-color: #7095B2;
}
.pagination:hover{
  background-color: #1E4868;
  color:aliceblue;
}

.countryDetails{
  display: flex;
  gap: 1rem;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  color:#C0DAEE
}
.countryDetails h1 {
  margin-bottom: 1.5rem;
  color:aliceblue;
}
.detailBody{
  display: flex;
  gap: 1rem;
}
.info{
  height: 100%;
  background-color: #02192B;
  padding: 1rem;
  font-size: smaller;
  margin-bottom: 1.5rem;
}

.countryDetails img {
  width: 50vw;
}
.activities{
  display:flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  align-self: center;
}
.activityCard{
  background-color: #02192B;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  border-radius: 5px;
}
.activityCard p {
  font-size: smaller;
  line-height: 0.4rem;
}